@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button:hover svg, button:hover path {
  fill: #2DAF7D;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 350px) {
  .container {
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #02353C;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 0 16px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__navigation__nav__list {
  display: flex;
  gap: 32px;
}
.header__navigation__nav__list__item {
  position: relative;
}
.header__navigation__nav__list__item:hover .submenu {
  opacity: 1;
  transition: 0.35s all;
}
.header__navigation__nav__list__item__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
.header__navigation__nav__list__item .submenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  transform: translateX(-50%);
  top: 35px;
  left: 50%;
  padding: 16px;
  background-color: #02353C;
  border-top: 3px solid #2DAF7D;
  border-radius: 0px 0px 0px 6px;
  transition: 0.45s all;
  opacity: 0;
}
.header__navigation__nav__list__item .submenu__item__link {
  display: block;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  white-space: nowrap;
  transition: 0.35s all;
}
.header__navigation__nav__list__item .submenu__item__link:hover {
  background-color: #2DAF7D;
  border-radius: 4px;
  width: 100%;
  transition: 0.45s all;
}
.header__acess {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header__acess__form__input {
  opacity: 0;
}
.header__acess__form .search {
  width: 18px;
  height: 18px;
}
.header__acess__form .search > svg {
  display: flex;
}
.header__acess__info__icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.header__acess__info__icon:hover > svg, .header__acess__info__icon:hover path {
  fill: #2DAF7D;
}
.header__acess__info__list {
  display: none;
}
.header__acess__info__list__item {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
.header__acess__info__list__item > svg {
  width: 20px;
  height: 16px;
  object-fit: contain;
}
.header__acess__language {
  display: flex;
  align-items: start;
  justify-content: center;
}
.header__acess__language::after {
  content: "";
  display: flex;
  width: 20px;
  height: 16px;
  background: url(/img/icon/chevron_right.png) no-repeat center center;
}
.header__acess__language__list__item__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.main .pgHome__banners {
  width: 100%;
  height: 832px;
  overflow: hidden;
}
.main .pgHome__banners__slicks,
.main .pgHome__banners .slick-track,
.main .pgHome__banners .slick-list {
  width: 100%;
  height: 100%;
}
.main .pgHome__banners__slicks .slick-arrow,
.main .pgHome__banners .slick-track .slick-arrow,
.main .pgHome__banners .slick-list .slick-arrow {
  display: none !important;
}
.main .pgHome__banners__slicks__slick,
.main .pgHome__banners .slick-track__slick,
.main .pgHome__banners .slick-list__slick {
  position: relative;
  width: 100%;
  height: 832px;
}
.main .pgHome__banners__slicks__slick__content,
.main .pgHome__banners .slick-track__slick__content,
.main .pgHome__banners .slick-list__slick__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  top: 35%;
}
.main .pgHome__banners__slicks__slick__content__title,
.main .pgHome__banners .slick-track__slick__content__title,
.main .pgHome__banners .slick-list__slick__content__title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}
.main .pgHome__banners__slicks__slick__content__title > mark,
.main .pgHome__banners .slick-track__slick__content__title > mark,
.main .pgHome__banners .slick-list__slick__content__title > mark {
  color: #393;
  font-weight: 700;
  background-color: transparent;
}
.main .pgHome__banners__slicks__slick__content__title > span,
.main .pgHome__banners .slick-track__slick__content__title > span,
.main .pgHome__banners .slick-list__slick__content__title > span {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.main .pgHome__banners__slicks__slick__content__text,
.main .pgHome__banners .slick-track__slick__content__text,
.main .pgHome__banners .slick-list__slick__content__text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
.main .pgHome__banners__slicks .slick-dots,
.main .pgHome__banners .slick-track .slick-dots,
.main .pgHome__banners .slick-list .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  top: 60%;
}
.main .pgHome__banners__slicks .slick-dots li,
.main .pgHome__banners .slick-track .slick-dots li,
.main .pgHome__banners .slick-list .slick-dots li {
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  background-color: #FFF;
  border-radius: 50%;
}
.main .pgHome__banners__slicks .slick-dots .slick-active,
.main .pgHome__banners .slick-track .slick-dots .slick-active,
.main .pgHome__banners .slick-list .slick-dots .slick-active {
  background-color: #393;
}

.pgHome__aboutUs {
  background-color: #02353C;
  padding: 80px 0 80px 0;
}
.pgHome__aboutUs > .container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.pgHome__aboutUs .line {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 1px;
}
.pgHome__aboutUs__top {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}
.pgHome__aboutUs__top__left {
  width: 40%;
}
.pgHome__aboutUs__top__left__subTitle {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 136%;
  letter-spacing: 2.8px;
}
.pgHome__aboutUs__top__left__title {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 136%;
}
.pgHome__aboutUs__top__left__title > mark {
  background-color: transparent;
  color: #393;
}
.pgHome__aboutUs__top__right {
  width: 60%;
}
.pgHome__aboutUs__top__right__text {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.pgHome__aboutUs__bottom {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 72px;
}
.pgHome__aboutUs__bottom__left {
  width: 20%;
}
.pgHome__aboutUs__bottom__left__title {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 136%;
}
.pgHome__aboutUs__bottom__left__title > mark {
  background-color: transparent;
  color: #393;
}
.pgHome__aboutUs__bottom__right {
  width: 80%;
}
.pgHome__aboutUs__bottom__right__list {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}
.pgHome__aboutUs__bottom__right__list__item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  transition: 0.45s all;
}
.pgHome__aboutUs__bottom__right__list__item__link:hover {
  opacity: 0.4;
  transition: 0.35s all;
}
.pgHome__aboutUs__bottom__right__list__item__link__img {
  padding: 20.532px;
  border-radius: 33.5px;
  border: 3.242px solid #2DAF7D;
  background: transparent;
  width: 67px;
  height: 67px;
  padding: 20.532px;
  object-fit: contain;
}

.pgHome__ourSolutions {
  padding: 80px 0 80px;
  overflow: hidden;
}
.pgHome__ourSolutions > .container {
  position: relative;
}
.pgHome__ourSolutions__title {
  text-align: center;
  color: #02353C;
  font-size: 40px;
  font-weight: 600;
  line-height: 136%;
  margin-bottom: 42px;
}
.pgHome__ourSolutions__slicks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 476px;
}
.pgHome__ourSolutions__slicks .slick-track {
  display: flex;
  align-items: center;
}
.pgHome__ourSolutions__slicks .slick-prev,
.pgHome__ourSolutions__slicks .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  width: 39px;
  height: 39px;
  border-radius: 39px;
  z-index: 2;
  cursor: pointer;
  background-color: #02353C;
  text-indent: -9999px;
}
.pgHome__ourSolutions__slicks .slick-prev:hover,
.pgHome__ourSolutions__slicks .slick-next:hover {
  opacity: 0.9;
  transition: 0.35s all;
}
.pgHome__ourSolutions__slicks .slick-prev {
  left: -38px;
  background-image: url("../../img/icon/chevron_forward.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  transform: rotate(183deg) translateX(-102%);
}
.pgHome__ourSolutions__slicks .slick-next {
  right: -38px;
  background-image: url("../../img/icon/chevron_forward.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  transform: translateX(-102%);
}
.pgHome__ourSolutions__slicks .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 460px !important;
  height: 404px;
  border-radius: 12px;
  background-color: #1F8768;
  filter: blur(1.5px);
  z-index: 1;
  padding: 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.pgHome__ourSolutions__slicks .slick-center {
  width: 524px !important;
  height: 476px;
  background-color: #2DAF7D;
  filter: none;
  z-index: 10;
  transform: scale(1);
}
.pgHome__ourSolutions__slicks .slick-active:not(.slick-center) {
  transform: scale(1) translateX(200px) !important;
}
.pgHome__ourSolutions__slicks .slick-center + .slick-slide {
  transform: scale(1) translateX(-200px) !important;
}
.pgHome__ourSolutions__slicks__slick__title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 138%;
  margin-bottom: 16px;
}
.pgHome__ourSolutions__slicks__slick__text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 155%;
}

.pgHome__news {
  padding: 80px 0 80px;
}
.pgHome__news .container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 48px;
}
.pgHome__news__top__title {
  color: #02353C;
  font-size: 40px;
  font-weight: 600;
  line-height: 136%;
}
.pgHome__news__bottom,
.pgHome__news .slick-track {
  display: flex;
  gap: 32px;
}
.pgHome__news__bottom .slick-prev,
.pgHome__news__bottom .slick-next,
.pgHome__news .slick-track .slick-prev,
.pgHome__news .slick-track .slick-next {
  position: absolute;
  top: -98px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  height: 44px;
  z-index: 2;
  cursor: pointer;
  background-color: #2DAF7D;
  text-indent: -9999px;
  right: 43px;
  background-image: url("../../img/icon/arrow.png");
  border-radius: 50px 0 0 50px;
}
.pgHome__news__bottom .slick-prev:hover,
.pgHome__news__bottom .slick-next:hover,
.pgHome__news .slick-track .slick-prev:hover,
.pgHome__news .slick-track .slick-next:hover {
  opacity: 0.9;
  transition: 0.35s all;
}
.pgHome__news__bottom .slick-prev,
.pgHome__news .slick-track .slick-prev {
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  transform: translate(-8px, 0px);
  width: 41px;
}
.pgHome__news__bottom .slick-next,
.pgHome__news .slick-track .slick-next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  transform: rotate(180deg) translate(-30px, 0px);
  width: 41px;
}
.pgHome__news__bottom .slick-next::after,
.pgHome__news .slick-track .slick-next::after {
  content: "";
  position: absolute;
  border-left: 1px solid #FFF;
  height: 27px;
  top: 23px;
  right: 0px;
  transform: translateY(-50%);
}
.pgHome__news__bottom__box,
.pgHome__news__bottom .slick-slide,
.pgHome__news .slick-track__box,
.pgHome__news .slick-track .slick-slide {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 274px;
  justify-content: space-between;
}
.pgHome__news__bottom__box__img,
.pgHome__news__bottom .slick-slide__img,
.pgHome__news .slick-track__box__img,
.pgHome__news .slick-track .slick-slide__img {
  width: 100%;
  height: 192px;
  border-radius: 8px;
  overflow: hidden;
}
.pgHome__news__bottom__box__content,
.pgHome__news__bottom .slick-slide__content,
.pgHome__news .slick-track__box__content,
.pgHome__news .slick-track .slick-slide__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pgHome__news__bottom__box__content__date,
.pgHome__news__bottom .slick-slide__content__date,
.pgHome__news .slick-track__box__content__date,
.pgHome__news .slick-track .slick-slide__content__date {
  color: #1A1A1A;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}
.pgHome__news__bottom__box__content__title,
.pgHome__news__bottom .slick-slide__content__title,
.pgHome__news .slick-track__box__content__title,
.pgHome__news .slick-track .slick-slide__content__title {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.pgHome__news__bottom__box__content__title__link,
.pgHome__news__bottom .slick-slide__content__title__link,
.pgHome__news .slick-track__box__content__title__link,
.pgHome__news .slick-track .slick-slide__content__title__link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #1A1A1A;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
  transition: 0.45s all;
}
.pgHome__news__bottom__box__content__title::after,
.pgHome__news__bottom .slick-slide__content__title::after,
.pgHome__news .slick-track__box__content__title::after,
.pgHome__news .slick-track .slick-slide__content__title::after {
  content: "";
  display: inline-block;
  background-image: url("../../img/icon/IconWrap.png");
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
}
.pgHome__news__bottom__box__content__title:hover,
.pgHome__news__bottom .slick-slide__content__title:hover,
.pgHome__news .slick-track__box__content__title:hover,
.pgHome__news .slick-track .slick-slide__content__title:hover {
  opacity: 0.8;
  transition: 0.35s all;
}
.pgHome__news__bottom__box__content__description,
.pgHome__news__bottom .slick-slide__content__description,
.pgHome__news .slick-track__box__content__description,
.pgHome__news .slick-track .slick-slide__content__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
}
.pgHome__news__bottom__box__btn,
.pgHome__news__bottom .slick-slide__btn,
.pgHome__news .slick-track__box__btn,
.pgHome__news .slick-track .slick-slide__btn {
  display: flex;
  height: 24px;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #2DAF7D;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.pgHome__news__bottom__box__btn:hover,
.pgHome__news__bottom .slick-slide__btn:hover,
.pgHome__news .slick-track__box__btn:hover,
.pgHome__news .slick-track .slick-slide__btn:hover {
  transition: 0.35s all;
  background-color: #02353C;
}
.pgHome__news .slick-active {
  width: 478px !important;
  height: 446px !important;
  transition: all 0.9s ease;
}
.pgHome__news .slick-active .pgHome__news__bottom__box__img {
  height: 240px;
}

/*# sourceMappingURL=style.css.map */
