.pgHome {
  &__ourSolutions {
    padding: 80px 0 80px;
    overflow: hidden;

    > .container {
      position: relative;
    }

    &__title {
      text-align: center;
      color: $primary-color-green;
      font-family: Sora;
      font-size: 40px;
      font-weight: 600;
      line-height: 136%;
      margin-bottom: 42px;
    }

    &__slicks {
      display: flex;
      align-items: center;
      justify-content: center;

      // .slick-list {
      //   overflow: visible;
      // }

      .slick-track {
        display: flex;
        align-items: center;
      }

      .slick-prev,
      .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        width: 39px;
        height: 39px;
        border-radius: 39px;
        z-index: 2;
        cursor: pointer;
        background-color: $primary-color-green;
        text-indent: -9999px;

        &:hover {
          opacity: 0.9;
          transition: 0.35s all;
        }
      }

      .slick-prev {
        left: -38px;
        background-image: url('../../img/icon/chevron_forward.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: inherit;
          transform: rotate(183deg) translateX(-102%);
      }

      .slick-next {
        right: -38px;
        background-image: url('../../img/icon/chevron_forward.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: inherit;
          transform: translateX(-102%);
      }

      .slick-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 460px !important;
        height: 404px;
        border-radius: 12px;
        background-color: $tertiary-color-green;
        filter: blur(1.5px);
        z-index: 1;
        padding: 32px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease;
      }

      .slick-center {
        width: 524px !important;
        height: 476px;
        background-color: $secondary-color-green;
        filter: none;
        z-index: 10;
        transform: scale(1);
      }

      .slick-active:not(.slick-center) {
        transform: scale(1) translateX(200px) !important;
        background-color: red !important;
      }

      .slick-center + .slick-slide {
        transform: scale(1) translateX(-200px) !important;
        background-color: blue !important;
      }

      &__slick {
      
        &__title {
          color: $primary-color-white;
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          line-height: 138%;
          margin-bottom: 16px;
        }

        &__text {
          color: $primary-color-white;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          line-height: 155%;
        }
      }
    }
  }
}
