* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color-white;
}

li {
    list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
     svg, path {
      fill: $secondary-color-green;
     }
  }
}

