/* ======= Font Google ======= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ======= Variable Colors ======= */
$primary-color-white: #FFF;
$primary-color-green: #02353C;
$primary-color-lime: #393;
$primary-color-black: #1A1A1A;

$secondary-color-green: #2DAF7D;

$tertiary-color-green: #1F8768;